* {
  color: #000;
  text-decoration: none;
  font-family: monospace;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../images/clouds.jpg');
  color: #000;
  cursor: auto;
}

.typewriter > .wrap {
  color: #000;
}
